.board {
  min-height: calc(100vh - 80px);
  position: relative;
}

.player {
  --size: 200px;
  width: var(--size);
  overflow: visible;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  left: calc(50% - var(--size) / 2);
  display: flex;
  flex-direction: column;
}

.player > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.character {
  font-size: 1.75rem;
  font-weight: 700;
  color: black;
}

.tag {
  background-color: rgb(80, 12, 140);
  color: rgb(251, 240, 255);
  padding: 6px 8px;
  width: max-content;
  border-radius: 6px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.825rem;
  border: none;
  cursor: pointer;
}

.tags {
  display: flex;
  gap: 6px;
  justify-content: center;
  padding-top: 4px;
  flex-wrap: wrap;
}

.select {
  font-size: 1.25rem;
  cursor: pointer;
}

.popover {
  position: absolute;
  inset: 0;
  background-color: white;
  min-height: 300px;
  max-width: 400px;
  width: 100%;
  border: none;
  margin: auto;
  padding: 32px;
}

.popover form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.side {
  overflow-y: scroll;
  border-left: 1px dotted #c8c8c8;
}

.side ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.side li {
  display: flex;
  text-wrap: balance;
  gap: 6px;
}

.side li:not(:last-child) {
  border-bottom: 1px dotted #c8c8c8;
}

.side div {
  padding-block: 16px;
  width: 100%;
  cursor: pointer;
}

.side > h3 {
  text-transform: uppercase;
  font-size: 0.825rem;
  padding-left: 16px;
  padding-top: 32px;
  color: #85837f;
}

.buttonsWrapper {
  --color: rgb(119, 99, 99);
  --background-color: rgb(119, 99, 99, 0.2);
  display: flex;
  gap: 20px;
  margin: 16px;
}

.buttonsWrapper button {
  padding: 6px;
  text-transform: uppercase;
  background-color: var(--background-color);
  border: 1px solid var(--color);
  font-weight: 900;
  color: var(--color);
  border-radius: 6px;
}

.addPlayer {
  display: flex;
}

.addPlayer label {
  font-weight: 600;
}

.addPlayer input {
  padding: 6px;
  background-color: transparent;
  border: 1px solid var(--color);
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.addPlayer button {
  border-radius: 0 6px 6px 0;
}
